[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
postman = {editable = true, git = "https://github.com/DBC201/Postman.git"}
ecapture = "*"

[requires]
python_version = "3.7"
